/* Regras para telas menores que 700px */
@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }

    .carousel img {
        width: 100%;
        height: auto;
    }
}

/* Regras para telas maiores que 1000px */
@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}
